<mat-toolbar color="primary">
  <mat-toolbar-row class="title-header">
    <a
      mat-icon-button
      class="home-icon"
      aria-label="Home"
      routerLink="/"
      routerLinkActive="active"
      color="primary"
    >
      <mat-icon>home</mat-icon>
    </a>
    <h1 class="display-1">My Film App</h1>
    
    <!-- Change Theme Button -->
    <button
      mat-icon-button
      (click)="toggleTheme()"
      matTooltip="Toggle theme"
      attr.aria-label="Switch to {{ isDark ? 'light' : 'dark' }} theme"
      color="primary"
    >
      <mat-icon>brightness_medium</mat-icon>
    </button>

    <!-- Account Button -->
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="account menu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <!-- If user is signed in -->
      <ng-container *ngIf="auth.user | async as user; else showSignInTest">
        <!-- admin dashbord -->
        <a mat-menu-item routerLink="/admin">
          <mat-icon>dashboard</mat-icon>
          <span>Admin Dashboard</span>
        </a>

        <!-- sign out button -->
        <button mat-menu-item (click)="onClickSignOut()">
          <mat-icon>logout</mat-icon>
          <span>Sign Out</span>
        </button>
      </ng-container>

      <!-- if user is NOT signed in -->
      <ng-template #showSignInTest>
        <a mat-menu-item routerLink="/signin">
          <mat-icon>login</mat-icon>
          <span>Sign In</span>
        </a>
      </ng-template>
    </mat-menu>
  </mat-toolbar-row>

  <!-- NAV MENU -->
  <mat-toolbar-row class="navigation-links">
    <nav>
      <a mat-button routerLink="/films" routerLinkActive="active">My Films</a>
      <a mat-button routerLink="/about" routerLinkActive="active">About</a>
      <a mat-button routerLink="/signin" routerLinkActive="active">Sign In</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
